* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(49, 20, 64);
}


body {
    font-family: "Karla", sans-serif;
    background: #3F5EFB;
    background: linear-gradient(148deg, rgba(63, 94, 251, 1) 0%, rgba(182, 70, 252, 1) 92%);
    width: 80%;
    margin: auto;
}
.logo{
    font-family:  "Audiowide", sans-serif;
    font-style: italic;
    font-size: 20px;
}

header {
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    
}

main {
    
    height: 100vh;
    
}
.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.welcome {
    width: 40%;
    text-align: right;
    
}
h1 {
    font-family:  "Audiowide", sans-serif;
    font-size: 40px;
}
#landing h2 {
    font-size: 20px;
}


button {
    font-family: "Karla", sans-serif;
    font-size: 18px;
    margin-left: 30px;
    border-radius: 30px;
    padding: 1em 1.5em;
    background-color: violet;
    border: none;   
}

button:hover {
    background-color: blueviolet;
    color: #c5abfe;
    cursor: pointer;
}

#allJobs {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
}

#allJobs h2 {
    font-size: 30px;
    padding: 1em 2em; 

}
.filters {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.5em;
}
.filters button {
    font-size: 15px;
    border-radius: 50%;
    padding: 0.8em 1em;
}

.filterButtons {
    display: flex;
    padding-top: 2.5em;
    margin-left: 1em;
}
.filterLables {
    padding: 0.2em;
    font-size: 20px;
    margin-bottom: 1em;
    margin-right: 0.5em;
    float: left;
}
.filterButtons input {
    margin-right: 1em;
    padding: 0.5em;
    font-size: 15px;
    margin-bottom: 1em;
    border-radius: 30px;
    border: none;
    width: 300px;
}
table {
    width: 100%;
    margin-top: 1em;
    font-size: 20px;
    position: relative;
    border-collapse: collapse;
}
th, td {
    padding: 0.5em;
    text-align: right;
    border-bottom: 1px solid purple;
    
}

tr:hover {
    background-color: #af76fa;
    color: white;
}
td + td, th + th {
    text-align: left;
}
th {
    background-color: #bb8ef7;
    color: white;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
}

.divTable {
    height: 55vh;
    overflow: scroll;
}